:root{
    box-sizing: border-box;
}
body{
    background-color: #006bbb;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator{
    width: 300px;
    
}
table{
    width: 100%;
    border: 1px solid #f4f4f4;
    border-radius: 1em;
}
td{
    width: 25%;
}

button{
    border:none;
    width:100%;
    height: 70px;
    background-color:rgb(255, 255, 255);
    border-radius: 2em;
}
#inputLabel{
    height: 120px;
    font-size: 40px;
    vertical-align: bottom;
    text-align: right;
    color: white;
}